<ion-header>
  <ion-toolbar>
    <ion-title>Desafios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" (click)="realizar('plantar-arvore')">Plantar árvore (+100)</ion-button>
    <ion-button expand="block" (click)="realizar('limpar-a-praia')">Limpar a praia (+20)</ion-button>
    <ion-button expand="block" (click)="realizar('diminuir-emissao-de-gases')">Diminuir emissão de gases (+30)</ion-button>
    <ion-button expand="block" (click)="realizar('andar-de-bicicleta')">Andar de bicicleta (+30)</ion-button>
    <ion-button expand="block" (click)="realizar('visitar-a-natureza')">Visitar a natureza (+20)</ion-button>
    <ion-button expand="block" (click)="realizar('reciclar-o-lixo')">Reciclar o lixo (+20)</ion-button>
</ion-content>
