<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minha Equipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatar-generico.png">
      </ion-avatar>
      <ion-label>
        <h2>Deivson Marinho</h2>
        <p>1.300 pontos</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatar-generico.png">
      </ion-avatar>
      <ion-label>
        <h2>Fernando Henrique</h2>
        <p>1.500 pontos</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatar-generico.png">
      </ion-avatar>
      <ion-label>
        <h2>Leonardo Fiqueiredo</h2>
        <p>2.100 pontos</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatar-generico.png">
      </ion-avatar>
      <ion-label>
        <h2>Tiago Viana</h2>
        <p>1.600 pontos</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
