<ion-header>
  <ion-toolbar>
    <ion-title>
      Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Plantar Árvore</ion-card-title>
    </ion-card-header>
    <img src="/assets/plantar-arvore-mg.jpg" style="width: 100%;">
    <ion-card-content> 
      <div>Carol da Vovó</div>
      <div>Caratinga-MG 🇧🇷</div>
      <div>+100 pontos</div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reciclar o Lixo</ion-card-title>
    </ion-card-header>
    <img src="/assets/reciclar-lixo.jpg" style="width: 100%;">
    <ion-card-content>
      <div>Menininho da Mamãe</div>
      <div>Porto da Folha-SE 🇧🇷</div>
      <div>+20 pontos</div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Andar de Bicicleta</ion-card-title>
    </ion-card-header>
    <img src="/assets/china-bike.jpeg" style="width: 100%;">
    <ion-card-content>
      <div>Chinha Chichinha</div>
      <div>Hong Kong 🇨🇳</div>
      <div>+30 pontos</div>
    </ion-card-content>
  </ion-card>
</ion-content>
