<ion-header>
  <ion-toolbar>
    <ion-title>
      Cooling Earth Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="display: flex; justify-content: space-between; align-items: center;" margin-bottom>
    <div>
      <div>Evelyn Hilthegarden</div>
      <div>Aracaju-SE 🇧🇷</div>
      <div style="color: #777;">2.400 pontos</div>
      <a href="#" [routerLink]="['/minha-equipe']">Ver Minha Equipe</a>
    </div>
    <a href="#" [routerLink]="['/meu-avatar']">
      <ion-avatar>
        <img src="/assets/avatar.jpg">
      </ion-avatar>
    </a>
  </div>
  <div>
    <img src="/assets/sea-level.png">
    <div style="text-align: right; font-size: 0.75rem;">Variação do nível do mar em milímetros desde 1993</div>
  </div>
  <p style="text-align: justify;">
      O oceano cobre 70% da superfície terrestre e retém 97% de toda a água existente no planeta, o que atribui a ele papeis de contribuição para com o meio ambiente. Dentre esses, os principais são absorver calor e distribuí-lo da maneira mais uniforme possível em torno da Terra, além de absorver gás carbônico (CO2).
  </p>
  <div style="text-align: center;">
    <video style="max-width: 100%;" controls>
      <source src="/assets/oceans-of-climate-change-640x480.mp4" type="video/mp4">
      <source src="/assets/oceans-of-climate-change-640x480.ogg" type="video/ogg">
    </video>
  </div>
  <p style="text-align: justify;">
    Atualmente o aumento do nível dos oceanos se mostra como uma questão forte e o que se tem parado para observar são as razões que levaram a essa conjuntura e permanecem intensificando-a. Nesse sentido, cita-se dois fatores relacionados ao aquecimento global: a água adicionada pelo derretimento das camadas de gelo e a expansão da água dos mares em virtude da elevação da temperatura. 
    De maneira adicional fala-se no aquecimento excessivo do oceano, o que implicaria em desequilíbrios no ecossistema marítimo, dificultando a sobrevivência de corais e outras vidas marinhas no instante em que não conseguiriam formar estruturas básicas que precisam para sobreviver, além de que exerceria menos eficientemente as funções que detêm para com a humanidade como um todo, o que foi citado inicialmente. 
    Diante desse cenário, vemos que somos nós os protagonistas dessa história. Somos nós os responsáveis pelas consequências negativas que têm agido sobre todo o meio, e com a intenção de conter essa realidade, podemos tentar fazer diferente. 
    Quer fazer a diferença para o meio em que você vive? Então segue com a gente.
  </p>
</ion-content>
