<ion-header>
  <ion-toolbar>
    <ion-title>
      Rank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        🥇 🇧🇷 Brasil <span style="float: right;">2.600.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        🥈 🇨🇳 China <span style="float: right;">2.500.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        🥉 🇯🇵 Japão <span style="float: right;">2.100.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        4º 🇩🇪 Alemanha <span style="float: right;">1.800.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        5º 🇫🇷 França <span style="float: right;">1.700.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        6º 🇿🇦 África do Sul <span style="float: right;">1.500.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        7º 🇨🇴 Colômbia <span style="float: right;">1.200.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        8º 🇺🇾 Uruguai <span style="float: right;">1.100.000 pontos</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        9º 🇲🇽 México <span style="float: right;">800.000 pontos</span>
      </ion-label>
    </ion-item><ion-item>
      <ion-label>
        10º 🇺🇸 Estados Unidos <span style="float: right;">700.000 pontos</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
