<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/baby-shark.jpg" style="width: 100%;">
  <img src="/assets/capacete.jpg" style="width: 25%;">
  <img src="/assets/asas.jpg" style="width: 25%;">
  <img src="/assets/luvas.webp" style="width: 25%;">
  <img src="/assets/sapato.jpg" style="width: 25%;">
</ion-content>
